body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

p, div, span, h1, h2 {
	font-family: 'Libre Baskerville', serif;
}

button.step {
	margin-bottom: 8px;
}

button.action {
	margin-bottom: 5px;
}

.container {
	width: 97%;
}

.system {
	position: absolute;
}

.box {
	border-style: solid;
	border-width: 1px;
	padding: 4px;
	margin-bottom: 4px;
}

.name {
	margin: 2px;
}

.alerta {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90px;
	height: 150px;
	border: 2px solid black;
}

#alert {
	position: absolute;
	top: 0;
	left: 50%;
}

#alert-button {
	position: absolute;
	top: 90%;
	left: 50%;
}

#map {
	display: table;
	margin: 0 auto;
}